{% extends 'base.html' %}

{% block content %}

<section class="blogs container d-flex flex-wrap">
        
    {% for blo in blog %}
    <div class="blog__inner d-flex flex-wrap justify-content-center m-1">
        <div class="card blog" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-2">{{blo.title}}</h5>
                <p class="card-text description_1">{{blo.description}}</p>
                <a href="{% url 'blog_details' blo.id %}" class="card-link text-decoration-none">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}