{% extends 'base.html' %}

{% block content %}

<section id="hero">
  <div class="container hero__inner rounded p-5">
    <div class="hero__inner-content">
      <h2 class="text-dark mb-4 fw-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellendus.
      </h2>
      <p class="text-dark mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sapiente voluptate
        accusantium hic exercitationem excepturi facilis dicta eveniet dolore dignissimos consequatur, quaerat, aperiam
        ad voluptatibus quo! Sint nihil iusto obcaecati.</p>
    </div>
    <div class="hero__inner-btngroup">
      <button class="btn  button">
        <a class="text-dark" href="/login">
          Login
        </a>
      </button>
      <button class="btn text-dark button">
        <a class="text-dark" href="/join">
          Sign Up
        </a>
      </button>
    </div>
  </div>


</section>

{% endblock %}